.figures {

  background-image: radial-gradient(ellipse at 76% 71%,
      hsla(215.11, 83.93%, 56.08%, 0.42760422300194545) 3%,
      hsla(280.71, 66.67%, 32.94%, 0.6065195546308928) 87%),
    conic-gradient(from 8deg at 69% 86%,
      hsla(184.4, 80.74%, 73.53%, 0.0886580817260485) 5%,
      hsla(215.33, 78.95%, 22.35%, 0.3781758487327669) 12%),
    linear-gradient(230deg,
      hsla(313.17, 63.73%, 62.16%, 0.9258228050663548) 55%,
      hsla(11.3, 99.04%, 59.02%, 0.9028013032936575) 59%),
    linear-gradient(214deg,
      hsla(247.04, 80.2%, 60.39%, 0.8708859942526248) 5%,
      hsla(12.92, 100%, 87.25%, 0.8920079493041806) 74%),
    repeating-linear-gradient(230deg, #725fff 15%, #07100c 75%);
  display: flex;
  flex-direction: column;
  padding-block: 4rem;
  padding-inline: 1rem;

  &__text {
    padding-block: 2rem;
    
    h1 {
      font-weight: 800;
      font-size: 36px;
      margin-bottom: 2rem;
      color: #fff;
      text-align: start;
    }

    p {
      width: 100%;
      margin-bottom: 4rem;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      color: #fff;
      

      span {
        font-weight: 800;
      }
    }

    &-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: fit-content;

      svg {
        fill: #fff;
        margin-right: 0.5rem;
      }

      p {
        color: #fff;
        opacity: 1;
        margin-bottom: 0;
      }
    }
  }

  &__cards {
    width: 100%;
    height: 70vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &-card {
      border: 1px solid #fff;
      color: #fff;
      border-radius: 1rem;
      width: 80%;
      padding: 1rem;

      background-image: radial-gradient(circle at 10% 61%,
          hsla(347.8, 84.83%, 28.43%, 0.30027850024127756) 34%,
          hsla(313.2, 68.49%, 28.63%, 0.48536652696966254) 58%),
        conic-gradient(from 195deg at 80% 89%,
          hsla(240, 6.88%, 62.94%, 0.4893444837506531) 13%,
          hsla(280, 64.29%, 5.49%, 0.9190941049627523) 76%),
        radial-gradient(ellipse at 10% 84%,
          hsla(56.94, 96.08%, 80%, 0.42958547583049134) 32%,
          hsla(280.34, 70.16%, 51.37%, 0.8803595117280867) 48%),
        repeating-radial-gradient(circle at 70% 45%,
          hsla(217.14, 77.78%, 5.29%, 0.5824073038412616) 42%,
          hsla(240, 10%, 3.92%, 0.5846563856057199) 47%),
        conic-gradient(from 263deg at 0% 88%, #f7d38a 53%, #fcf2fa 80%);

      display: flex;
      flex-direction: column;

      p {
        text-transform: uppercase;
      }

      data {
        text-align: end;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
}


@media screen and (min-width: 1024px) {
  .figures {
    
      height: 100vh;
      padding-inline: 4rem;

    &__text {
      p {
        font-size: 18px;
        width: 66ch;
      }

      &-title {
        margin-left: 2rem;
      }
    }

    &__cards {
      flex-direction: row;


      gap: 1rem;

      &-card {
        height: 30vh;
        width: 16vw;
        justify-content: space-between;


        data {
          font-size: 36px;
          font-weight: 800;
        }
      }
    }
  }
}