.services {
  background-color: #000;
  color: #fff;

  height: 130vh;

  @include Center;
  flex-direction: column;

  &__title {
    font-size: 24px;
    margin-bottom: 4rem;
  }

  &__slides {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include Center;

    &-slide {
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      border: 1px solid #fff;
      padding: 2rem;
      border-radius: 1rem;
      width: 60%;
      height: 30vh;
      background-image: repeating-conic-gradient(from 267deg at 15% 87%,
          hsla(11.86, 81.13%, 20.78%, 0.9484300804976966) 52%,
          hsla(185, 46.15%, 15.29%, 0.8186872098831244) 96%),
        repeating-conic-gradient(from 107deg at 32% 38%,
          hsla(0, 0%, 36.86%, 0.7793629976876078) 55%,
          hsla(30.51, 71.08%, 16.27%, 0.7232131130284505) 90%),
        radial-gradient(ellipse at 69% 89%,
          hsla(37.5, 65.45%, 21.57%, 0.07419196943694106) 8%,
          hsla(247.04, 80.2%, 60.39%, 0.9591088006384694) 36%),
        conic-gradient(from 267deg at 25% 25%,
          hsla(11.29, 84.55%, 43.14%, 0.21327389429853216) 59%,
          hsla(185.16, 56.36%, 32.35%, 0.9349945585523505) 78%),
        linear-gradient(303deg, #5b4013 31%, #9a9aa7 46%);

      svg {
        height: 2rem;
        width: 2rem;
        fill: #fff;
        margin-bottom: 1rem;
      }

      h2 {
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-size: 18px;
        text-align: center;
      }

      p {
        font-size: 14px;
        text-align: start;
        line-height: 1.25;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .services {

    height: 100vh;
    overflow: hidden;

    &__title {
      font-size: 48px;
      margin-bottom: 10vh;
    }

    &__slides {
      flex-direction: row;
      justify-content: center;
      gap: 8vw;


      &-slide {
        border: 1px solid #fff;
        border-radius: 8px;
        margin-bottom: 0;
        opacity: 0.7;
        height: 50vh;
        width: 35vh;
        transition: background-image 0.2s ease-in-out;

        &:hover {
          opacity: 1;
          background-image: repeating-conic-gradient(from 267deg at 15% 87%,
              hsla(11.86, 81.13%, 20.78%, 0.9484300804976966) 52%,
              hsla(185, 46.15%, 15.29%, 0.8186872098831244) 96%),
            repeating-conic-gradient(from 107deg at 32% 38%,
              hsla(0, 0%, 36.86%, 0.7793629976876078) 55%,
              hsla(30.51, 71.08%, 16.27%, 0.7232131130284505) 90%),
            radial-gradient(ellipse at 69% 89%,
              hsla(37.5, 65.45%, 21.57%, 0.07419196943694106) 8%,
              hsla(247.04, 80.2%, 60.39%, 0.9591088006384694) 36%),
            conic-gradient(from 267deg at 25% 25%,
              hsla(11.29, 84.55%, 43.14%, 0.21327389429853216) 59%,
              hsla(185.16, 56.36%, 32.35%, 0.9349945585523505) 78%),
            linear-gradient(303deg, #5b4013 31%, #9a9aa7 46%);

          transition: background-image 0.2s ease-in-out;
        }

        svg {
          height: 4rem;
          width: 4rem;
          margin-bottom: 2rem;
        }

        h2 {
          margin-bottom: 3rem;
        }

        p {
          font-size: 14px;
          text-align: justify;
          line-height: 1.25;
        }
      }
    }
  }
}